{% extends "blog/base.html" %}
{% block content %}
    <div class= "content-section">
        <form method="POST">
            {% csrf_token %}<!--Cross Site Request Forgry Token.  These are used to protect the form from attacks. THIS IS REQUIRED-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today!</legend><!-- Part of screen says join today -->
                {{ form.as_p }}
            </fieldset>
            <div class="form group">
                <button class="btn btn-outline-info" type="submit">Sign up! It's Free!!!</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? Good For You! <a class="ml-2" href="#">Sign in</a>
            </small>
        </div>
    </div>
{% endblock content %}